body {
  .van-card__desc {
    color: #848484;
  }

  .van-field {
    height: 40px;
    background: rgba(250, 250, 250, 1);
    border-radius: 6px;
  }

  .van-hairline--top-bottom::after,
  .van-hairline-unset--top-bottom::after {
    border: 0 !important;
  }
  .van-card{
    background-color: #fff;
  }
  // van-stepper 加减组件
  .van-stepper{
    padding: 20px 0;
    .van-stepper__minus, .van-stepper__plus{
      width: 30px;
      height: 30px;
      border-radius: 10px;
      background: #fff;
      box-shadow:0px 6px 12px 0px rgba(0,0,0,0.08);
    }
    .van-stepper__input{
        background: #fff;
        width: 30px;
        color: #727272;
    }
    .van-stepper__minus::before, 
    .van-stepper__plus::before, 
    .van-stepper__minus::after, 
    .van-stepper__plus::after{
      font-weight: 600;
      color: #c8c8c8;
      font-size: 5px;
    }
    .van-stepper__minus::after, .van-stepper__plus::after{
      width:2px;
      height: 13px;
    }
    .van-stepper__minus::before, .van-stepper__plus::before{
      width: 13px;
      height: 2px;
    }
  }
  //
  //
 
}
